* {
  margin: 0;
  padding: 0;
}

body{
  background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: "Jost", sans-serif;
}

html {
  font-size: 100%;
  height: 100%;
}

html {
  background: #eee;
}

.todo-container{
  width: 25vw;
  height: 60vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
  background: #a5bbdd;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-width: 20rem;
  min-height: 35rem;
}

.todo-container h2{
  margin-bottom: 10px;
}

.todo-form {
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container li{
  margin-top: 20px;
  margin-right: 50px;
}
.todo-container .close-symbol{
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 140px;
  cursor: pointer;
}